html{
    background-image: url(bg-intro-desktop\ \(1\).png);
    background-color: rgba(230, 101, 123, 0.959);
    background-size: cover;
    font-size: 16px; 
    font-family: "Poppins" ; 
    font-weight:400, 500, 600, 700 ;
    
}
*{
     margin:0;
     padding: 0; 
    box-sizing: border-box; 
}
body{
    font-size: 16px; 
    font-family: 'Big Shoulders Display',Poppins; ;
    font-weight:400, 500, 600, 700 ;
    
}
main{
    width: 70%;
    margin: auto; 
    display:flex;
    justify-items:center;
    align-items: center;
    align-content: center;
    font-size: 16px; 
    /* font-family: "Poppins" ; */
    font-weight:400, 500, 600, 700 ;
    
}
form{
    width:400px ;
    background-color: white;
    background-size: 500px;
    font-size: 15px; 
      text-align: center; 
     border-radius: 20px;
     /* margin: 10px; */
     justify-content: center;
}
input:required:invalid {
    outline: none;
    border: none;
    border: 1px solid hsl(0, 100%, 74%);
    background-image: url(icon-error.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-origin: content-box;
}
input:invalid+span {
    display: inline;
    color: hsl(0, 100%, 74%);
    float: right;
    font-size: 14px;
}

input:valid {
    outline: none;
    border: none ;
    border: 1px solid hsl(154, 59%, 51%);
}
span{
    display:none ;
}

.input-container[data-error] .input {
    border-color: hsl(0, 80%, 75%);
    color: hsl(0, 100%, 74%);
    background: #FFFAFA;
  }
  .input-container[data-error]::after {
    content: attr(data-error);
    color: hsl(0, 100%, 74%);
    margin: 0px;
    font-size: 10px;
    margin-bottom: 2px;
    margin-top: -10px;
    display: block;
    float: right
 }

#try{
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: hsl(248, 32%, 49%);
    border-radius: 10px;
    /* margin: 10px; */
    justify-content: center;
     text-align: center; 
}
#word{
  color:white ;
  margin: auto;
  align-content: center;
}
.text{
    margin-bottom: 10px;
}
.para{
    margin-right: 60px;
    word-spacing: 2px;
}
#second{
    color: white;
}
input{
    width: 270px;
    margin: 10px;
    padding: 10px;
    border-radius: 7px;
    margin: 20px;
    text-align: center;
}
button{
    width: 270px;
    margin: 20px;
    padding: 10px;
    color: white;
    background-color: hsl(154, 59%, 51%) ;
    border: none;
    margin-bottom: 30px;
}
.para{
     word-spacing: 5px;
    color: rgb(199, 189, 189);
    margin-left: -290;
    align-content: center;
}
strong{
    color:  hsl(0, 100%, 74%);
}
/* mobile  */
@media (min-width: 375px) {}



/* Desktop */
@media (min-width: 1440px) {}